@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background-color: #f5f7fa; /* Light, elegant grey */
  color: #2c3e50; /* Dark slate */
  -webkit-font-smoothing: antialiased;
}
